<html>

  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/admin-css">
  </head>
<body>
<div class="container">
<%db.get("messages").forEach(message => {%>
<div class="form"> <div class="box"><%=message.message%></div><form action="/admin" method="POST"><input key="<%=message.key%>"type="submit" class="del" name="<%=message.key%>"value="Delete"></form></div><br><br><br><br><br><br>
<%})%>

</div>
<script src="/script">

</script>
</body>
</html>