<html>

  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/login-css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" charset="utf-8"></script>
  </head>
<body>
<div class="container">
<h2>Login</h2>
<form action="/login" method="POST" class="login-form">

<input class="btn email"type="email" placeholder="Email" name="email" required>
<input class="btn password" type="password" placeholder="Password" name="password" required>
<input class="btn-submit" type="submit" value="Submit">
</form>
<% if(pass == false) {%>
<div class="warn"><span>Username or password is wrong!</span></div>
<%}%>
</div>
<script>
/*$(document).ready(function(){
$('.btn-submit').on('click', ()=> {
  if($('.email').val() != '' && $('.password').val() != ''){
    $('.warn, span').css({opacity:0})
    } 
})
})*/
</script>
</body>

</html>