<html>

  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/signup-css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" charset="utf-8"></script>
  </head>
<body>
<div class="container">
<h2>Sign Up</h2>
<form action="/sign-up" method="POST" class="signup-form">

<input class="btn username" type="text" name="username" placeholder="Username" required>
<input class="btn email"type="email" placeholder="Email" name="email" required>
<input class="btn password" type="password" placeholder="Password" name="password" required>
<input class="btn-submit" type="submit" value="Submit">
</form>
<% if(pass == false) {%>
<div class="warn"><p>Username or password is already taken by another user!</p></div>
<%} else if(pass == "Username error") {%>
<div class="warn"><p>This username is already taken by another user!</p>
<%}%>
</div>
<script>
/*$(document).ready(function(){
$('.btn-submit').on('click', ()=> {
    if($('.email').val() != '' && $('.password').val() != ''){ 
    $('.warn, span').css({opacity:1})
    }
})
})*/
</script>
</body>

</html>