<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"></link>

<header>
<div class="top">
<i class="fa-regular fa-house"></i>
<a href="/deneme1">Deneme1</a>
</div>
<div class="second top">
<i class="fa-regular fa-address-card"></i>
<a href="/deneme2">Deneme2</a>
</div>
<div class="thirth top">
<i class="fa-regular fa-people-group"></i>
<a href="deneme3">Deneme3</a>
</div>
<input class="logout"type="submit" name="logout" value="Logout">
</header>

<style>
header{
  height:90px;
  width:100%;
  background:#2c3e50
}

.top{
  position:absolute;
  display:flex;
  flex-direction:row;
  width:12.5%;
  top:25px;
  border-radius:6px;
  padding:10px 10px;
  transition:0.2s;
  
}
 
.top:hover{
  background:black;
}

.second{
 left:15%;
}

.thirth{
  left:30%;
}

.fa-address-card{
  color:#0abde3;
}

.fa-house{
  color:#ff6b6b;
}

.fa-people-group{
  color:#ffd32a;
}
.logout{
  position:absolute;
  left:80%;
  margin-top:10px;
  border:none;
  background:linear-gradient(150deg,#e74c3c,#f1c40f,#e74c3c);
  width:15%;
  height:45px;
  border-radius:6px;
  margin:20px 0;
}
i{
  margin-top:1px;
  margin-right:3px; 
}
a{
  text-decoration:none;
  color:#fff;
  font-family:sans-serif;
}
</style>